html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.header {
  padding: 60px;
  text-align: center;
  background: #993300;
  color: white;
  font-size: 30px;
  font-family: "Apple Chancery"
}